<% layout('/layouts/boilerplate') %>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post">
        <input name="listing[title]" type="text" placeholder="enter title">
        <br>
        <textarea name="listing[description]" placeholde="enter descripption" id=""></textarea>
        <br>
        <input name="listing[image]" type="text" placeholder="enter image URL/LINK">
        <br>
        <input name="listing[price]" type="number" placeholder="enter price">
        <br>
        <input name="listing[location]" type="text" placeholder="enter location">
        <br>
        <input name="listing[country]" type="text" placeholder="enter country">
        <br>
        <button>Add</button>
    </form>
</body>
<% layout('/layouts/boilerplate') %>